*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.677);
    color: whitesmoke;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.content{
    background-color: rgba(214, 183, 183, 0.475);
    width: 500px;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
 overflow: auto;   
}

.content input{
    width: 85%;
    height: 35px;
    border-radius: 10px;
    margin: 9px;

}

.content button{
    width: 10%;
    height: 35px;
    border-radius: 10px;

}


.task{
    margin: 10px;
    width: 95%;
    background-color: white;
    height: 30px;
    border-radius: 10px;
    color: black;
    padding-left: 10px;
    list-style: none;
    
}


.completed {
    text-decoration: line-through;
}